spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/evenly
    username: evenly
    password: evenly
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

logging:
  level:
    org.springframework.boot.autoconfigure.jdbc: DEBUG
    com.zaxxer.hikari: DEBUG
