spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/evenly
    username: evenly
    password: evenly
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://holy-bluegill-66.clerk.accounts.dev/.well-known/jwks.json

clerk:
  audience: https://api.evenly.app

logging:
  level:
    org.springframework.boot.autoconfigure.jdbc: DEBUG
    com.zaxxer.hikari: DEBUG
